/* nav li{
    margin-right: 1em;
} */

#main-title{
    display: inline-block;
}

#add-course-btn{
    float: right;
}

.container-fluid{
    padding: 0;
}

.navbar-nav{
    flex-direction: row;
}

.navbar-nav li{
    margin-right: 1em;
}

.navbar-nav .dropdown-menu {
    position:absolute;
  }